:root {
  --primary_color: #00ff62;
  --second_color: #000000;
  --gray_color: #666666;
  --dark_font_color: #212121;
  --light_font_color: #ffffff;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: var(--dark_font_color);
  & * {
    color: var(--light_font_color);
    box-sizing: border-box;
    /* outline: 0.1px solid red; */
  }

  main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    box-sizing: border-box;
  }
}

.stack {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.container {
  margin: auto;
}

.bold_font {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.48rem;
  @media screen and (max-width: 879px) {
    font-size: 0.875rem;
    line-height: 1.295rem;
  }
}

.common_font {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.48rem;
  @media screen and (max-width: 879px) {
    font-size: 0.875rem;
    line-height: 1.295rem;
  }
}

.smaller_font {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.066875rem;
  @media screen and (max-width: 879px) {
    font-size: 0.8125rem;
    line-height: 0.990625rem;
  }
}

.tiny_font {
  font-size: 0.75rem;
  line-height: 0.914375rem;
}

.icon_div {
  box-sizing: border-box;
  width: 1.5625rem;
  height: 1.5625rem;
  img {
    width: 100%;
    height: 100%;
  }
}

.common_input {
  border-radius: 2px;
  background-color: #eeeeee;
  color: var(--dark_font_color);
  width: 100%;
  height: 3rem;
  border: none;
  padding: 0.75rem 0.9375rem;

  &:focus-visible {
    outline: none;
  }
  &[type="text"] {
    border: 1px solid #ccc;
  }
  &:disabled {
    background-color: #999999;
    cursor: not-allowed;
  }
}

.outline_button {
  box-sizing: border-box;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3125rem;
  padding: 0.75rem 3.9375rem 0.75rem 3.9375rem;
  border: 1px solid var(--primary_color);
  border-radius: 4px;
  p {
    color: var(--primary_color);
    white-space: nowrap;
  }
  .icon_div {
    padding: 0.32875rem 0.32875rem 0.32875rem 0rem;
  }
  @media screen and (max-width: 879px) {
    padding: 0.46875rem;
  }
  &:hover {
    cursor: pointer;
    opacity: 0.5;
  }
}

.submit_button {
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 1.125rem;
  padding: 0.75rem 3.875rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  &.save {
    background-color: var(--primary_color);
    color: var(--second_color);
  }
  &.cancel {
    border: 1px solid var(--gray_color);
    color: var(--gray_color);
  }
  &:hover {
    opacity: 0.5;
  }
}

.img_card {
  box-sizing: border-box;
  width: 17.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-self: stretch;
  gap: 0.75rem;
  padding: 1.875rem;
  border: 1px solid var(--primary_color);
  background-color: var(--second_color);
  & > .img_div {
    position: relative;
    & > img {
      width: 100%;
      aspect-ratio: 1/1;
      object-fit: cover;
    }
    .img_hover_text {
      opacity: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--primary_color);
      text-align: center;
      color: var(--dark_font_color);
      transition: 0.5s;
      &:hover {
        opacity: 1;
      }
    }
  }

  .outline_button {
    width: 100%;
    padding-left: 0rem;
    padding-right: 0rem;
    margin-top: auto;
  }
}

.card_text {
  display: flex;
  flex-direction: column;
  gap: 0.3125rem;
  h5 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }
  h6 {
    &:nth-child(2) {
      color: var(--primary_color);
    }
    &:nth-child(3) {
      color: var(--gray_color);
    }
  }
}

.tag_card {
  background-color: var(--second_color);
  width: 17.5rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  aspect-ratio: 1/1;
  padding: 4.25rem 3.125rem;
  border: 1px solid var(--primary_color);
  position: relative;
  .outline_button {
    padding: 0.46875rem 2.6875rem;
  }
  .tag_flag {
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    border-top: 100px solid var(--primary_color);
    border-right: 100px solid transparent;
  }
  .tiny_font {
    position: absolute;
    top: 25px;
    left: 25px;
    white-space: nowrap;
    color: var(--dark_font_color);
    translate: -25% 55%;
    rotate: 315deg;
  }
}
